* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

a {
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0d1117;
  color: #eceff4;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  text-align: center;
}

h1,
h2 {
  font-weight: inherit;
}

h2 {
  margin: 20px;
}

hr.style-six {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

p {
  margin: 20px;
}

/* CLASSES */

.main-container {
  padding-top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 7%;
  width: 50%;
  line-height: 1.3rem;
}

@media screen and (max-width: 767px) {
  .main-container {
    width: 100%;
    top: 5%;
    padding-bottom: 35px;
  }
  h1 {
    line-height: 1;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1900px) {
  .main-container {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .main-container {
    width: 75%;
    padding-bottom: 50px;
  }
}

.intro {
  margin-bottom: 20px;
}

.feature-icon {
  padding: 0 15px;
  font-size: 1.75rem;
  transition: all 0.3s ease-out;
}

.fa-linkedin-in {
  color: #0a66c2;
}

.fa-github {
  color: #afb5bb;
}

.fa-linkedin-in:hover {
  color: #3d87d1;
}

.fa-github:hover {
  color: #52565a;
}

.about {
  margin: 20px;
}

.version {
  margin: 20px;
}

/* IDS */

#profile-picture {
  width: 200px;
  margin-top: 20px;
}

#particles-js canvas {
  display: block;
  /* vertical-align: bottom; */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
