* {
	box-sizing: border-box;
	margin: 0;
	/* padding: 0; */
}

a {
	text-decoration: none;
}

body {
	background-color: #292e39;
	color: #eceff4;
	font-family: "Ubuntu", sans-serif;
	font-weight: 100;
	text-align: center;
}

h1,
h2 {
	font-weight: inherit;
}

h2 {
	margin: 20px;
}

p {
	margin: 20px;
}

/* CLASSES */

.main-container {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 10%;
	width: 50%;
	line-height: 1.3rem;
}

@media screen and (max-width: 767px) {
	.main-container {
		width: 100%;
		top: 5%;
	}
	h1 {
		line-height: 1;
	}
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
	.main-container {
		width: 75%;
	}
}

.intro {
	margin-bottom: 20px;
}

.feature-icon {
	padding: 0 15px;
	font-size: 1.75rem;
	transition: all 0.3s ease-out;
}

.fa-linkedin-in {
	color: #0a66c2;
}

.fa-github {
	color: #afb5bb;
}

.fa-linkedin-in:hover {
	color: #3d87d1;
}

.fa-github:hover {
	color: #52565a;
}

.about {
	margin: 20px;
}

/* IDS */

#profile-picture {
	width: 200px;
	margin-top: 20px;
}
