.light,
.list {
    /* background-color: #FBF0DA; */
    background-color: #ECE8E1;
}

.dark,
.list.dark {
    background-color: #0F1923;
}

body {
    font-family: 'Lora', serif
}

/* ::selection {
    background: var(--primary);
    color: var(--theme);
} */